* {
  box-sizing: border-box;
}

:root {
  --background: #373737ff;
  --text: #faa54a;
  --border: #b7d0f1;
}

body {
  background-color: var(--background);
}

@media only screen and (min-width: 1001px) and (max-width: 2000px) {
  .navlist ul {
    display: flex;
  }
  .hidden {
    display: none;
  }

  .navlist a:hover {
    color: var(--border);
  }
}

@media (max-width: 1000px) {
  #menu__toggle {
    opacity: 0;
  }
  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    right: 0 !important;
  }
  .menu__btn {
    position: fixed;
    top: 25px;
    right: 20px;
    width: 26px;
    height: 20px;
    cursor: pointer;
    z-index: 1;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--border);
    transition-duration: 0.25s;
  }
  .menu__btn > span::before {
    content: "";
    top: -8px;
  }
  .menu__btn > span::after {
    content: "";
    top: 8px;
  }
  .menu__box {
    z-index: 1;
    display: inline-block;
    position: fixed;
    top: 60px;
    right: -120%;
    width: 175px;
    height: 35%;
    margin: 0;
    padding: 10px 0;
    list-style: none;
    border: 2px solid var(--border);
    border-right: none;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    background-color: var(--background);
    box-shadow: 2px 2px 6px rgb(0 0 0 / 40%);
    transition-duration: 0.25s;
    background-image: url(./img/logoheader.png);
    background-size: 58%;
    background-repeat: no-repeat;
    background-position: bottom;
  }
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: var(--text);
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    transition-duration: 0.25s;
  }
  .menu__item:hover {
    background-color: var(--border);
  }
}

header {
  width: 100%;
}

.header-container {
  padding: 0 auto;
  margin: 0 auto;
  max-width: 1100px;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 120px;
}

.navlist li {
  list-style: none;
}

.navlist a {
  color: var(--text);
  padding: 15px;
  text-decoration: none;
}

section {
  margin: -6px 0.2rem;
}

.container-main {
  max-width: 1100px;
  max-height: 800px;
  margin: 0 auto;
  padding: 0 auto;
}

.top-Container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 auto;
  display: flex;
  justify-content: space-around;
}

h1 {
  font-size: 2.2rem;
  color: var(--text);
  padding: 10px;
}

.timer-container {
  margin-top: 20px;
  font-size: 1.2rem;
  color: var(--text);
}

.remainingCards {
  color: var(--text);
  display: flex;
  margin-top: 16px;
  justify-content: space-around;
}

.bottom-container {
  margin: 0 auto;
  padding: 0 auto;
  height: 500px;
  display: flex;
}

.card-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 500px;
}

.display {
  margin-top: 12rem;
}

/* Flipped Cards */

.container {
  border: 1px solid var(--border);
  margin: 10px 1em;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-around;
}

.flip-card {
  width: 320px;
  height: 400px;
  padding: 0.75em;
}

.back {
  border: 2px solid #b7d0f1;
  background-color: #f8f8f8;
  transform: rotateY(180deg);
  height: 550px;
}

.back .back-header {
  height: 45%;
  text-align: center;
}

#newCard1 {
  margin-top: 8rem;
  font-size: 6rem;
  text-align: center;
}
#newCard2 {
  margin-top: 8rem;
  margin-left: auto;
  margin-right: auto;
  font-size: 6rem;
  text-align: center;
}

.back .back-header img {
  height: 85%;
  margin: 20px;
  padding: 1em;
}

.front {
  transition: transform 0.2s;
  border: 2px solid var(--border);
  background-color: #505050;
  display: flex;
}

.front:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.inner {
  position: relative;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.back,
.front {
  border-radius: 6px;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  align-items: center;
}

.flipped .inner {
  transform: rotateY(180deg);
}

.score-highscore {
  color: var(--text);
  display: flex;
  margin: 4px 40px;
  padding: 0 auto;
  justify-content: space-evenly;
}

h2 {
  color: var(--text);
  font-size: 1.2rem;
  padding: 5px;
}

#correct {
  font-size: 3rem;
  color: var(--text);
}

.button-container {
  width: 300px;
  margin: 20px auto;
  padding: 0 auto;
  border: 1px solid var(--border);
  display: grid;
  justify-content: center;
}

.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

button {
  box-shadow: 0 2px 4px darkslategrey;
}
.start {
  box-shadow: inset 0px 1px 3px 0px #1c1b18;
  background: linear-gradient(to bottom, #b7d0f1 5%, #b7d0f1 100%);
  background-color: #eae0c2;
  border: 3px solid #333029;
  display: inline-block;
  cursor: pointer;
  color: #505739;
  font-family: Arial;
  font-size: 18px;
  font-weight: bold;
  padding: 11px 8px;
  text-decoration: none;
  text-shadow: 0px -1px 0px #ffffff;
}
.start:hover {
  background: linear-gradient(to bottom, #faa54a 5%, #faa54a 100%);
  background-color: #ccc2a6;
}
.start:active {
  position: relative;
  top: 1px;
}

.hide {
  display: none;
}

.reset {
  box-shadow: inset 0px 1px 3px 0px #1c1b18;
  background: linear-gradient(to bottom, #b7d0f1 5%, #b7d0f1 100%);
  background-color: #eae0c2;
  border: 3px solid #333029;
  display: inline-block;
  cursor: pointer;
  color: #505739;
  font-family: Arial;
  font-size: 18px;
  font-weight: bold;
  padding: 11px 8px;
  text-decoration: none;
  text-shadow: 0px -1px 0px #ffffff;
}
.reset:hover {
  background: linear-gradient(to bottom, #faa54a 5%, #faa54a 100%);
  /* background: linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%); */
  background-color: #ccc2a6;
}
.reset:active {
  position: relative;
  top: 1px;
}

.higher {
  margin-right: 15px;
  box-shadow: inset 0px 1px 3px 0px #1c1b18;
  /* background: linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%); */
  background: linear-gradient(to bottom, #b7d0f1 5%, #b7d0f1 100%);
  background-color: #eae0c2;
  border-radius: 42px;
  border: 3px solid #333029;
  display: inline-block;
  cursor: pointer;
  color: #505739;
  font-size: 26px;
  font-weight: bold;
  padding: 20px 28px;
  text-decoration: none;
  text-shadow: 0px -1px 0px #ffffff;
}
.higher:hover {
  background: linear-gradient(to bottom, #faa54a 5%, #faa54a 100%);
  background-color: #ccc2a6;
}
.higher:active {
  position: relative;
  top: 1px;
}

.lower {
  margin-left: 15px;
  box-shadow: inset 0px 1px 3px 0px #1c1b18;
  background: linear-gradient(to bottom, #b7d0f1 5%, #b7d0f1 100%);
  background-color: #eae0c2;
  border-radius: 42px;
  border: 3px solid #333029;
  display: inline-block;
  cursor: pointer;
  color: #505739;
  font-size: 26px;
  font-weight: bold;
  padding: 20px 28px;
  text-decoration: none;
  text-shadow: 0px -1px 0px #ffffff;
}
.lower:hover {
  background: linear-gradient(to bottom, #faa54a 5%, #faa54a 100%);
  background-color: #ccc2a6;
}
.lower:active {
  position: relative;
  top: 1px;
}

img {
  width: 100%;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 22px;
}
.fa-brands {
  position: relative;
  padding-right: 10px;
  padding-left: 10px;
  right: 10px;
  color: var(--text);
}

.footer-list {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 auto;
  color: var(--text);
  display: flex;
  justify-content: space-around;
}

@media only screen and (max-width: 600px) {
  .header-container {
    justify-content: center;
  }
  h1 {
    font-size: 1.3rem;
  }
  .timer-container {
    font-size: 0.9rem;
  }
  .button-container {
    width: 300;
    margin: 0px auto;
    padding: 0px auto;
    display: grid;
    justify-content: center;
    position: relative;
    top: 1.3rem;
  }

  #newCard1 {
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 4rem;
    text-align: center;
  }
  #newCard2 {
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 4rem;
    text-align: center;
  }

  .flip-card {
    width: 325px;
    height: 218px;
    padding: 0.75em;
  }

  #houseDeckCount {
    display: none;
  }
  #playerDeckCount {
    display: none;
  }

  .button-container {
    width: 320px;
  }

  .button {
    padding: 5px;
  }

  #correct {
    display: none;
  }

  button {
    font-size: 1rem;
    margin: 5px;
  }

  .score-highscore {
    margin-bottom: 15px;
  }
}
