html {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root {
  --w: #f8f8f8;
  --blk: #373737ff;
  --g: #505050ff;
  --blu: #b7d0f1ff;
  --o: #f2564fff;
  --y: #faa549ff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::before {
  box-sizing: border-box;
}

*::after {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  background-color: var(--blk);
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 1.6;
  color: var(--w);
}

/**********************
General
***********************/

li {
  list-style: none;
}
a {
  text-decoration: none;
}

/**********************
Images
***********************/

img {
  width: 100%;
  height: auto;
  display: block;
}

/**********************
Buttons and Links
***********************/

.section-btn {
  display: inline-block;
  font-size: 1rem;
  font-weight: 700;
  color: var(--w);
  background-color: var(--y);
  padding: 1rem 2rem;
  border-radius: 2px;
  margin-bottom: 1rem;
  transform: scale(1);
  transition: transform 0.25s ease;
}

.section-btn:hover {
  transform: scale(1.1);
}

/**********************
Typography
***********************/

.section-heading {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2;
  color: var(--y);
  margin-bottom: 0.5rem;
}

.section-content {
  margin-bottom: 1rem;
}

.block {
  display: block;
}

/**********************
Layout
***********************/

.main-container {
  width: 90%;
  max-width: 1024px;
  margin: 0 auto;
}

#guess-section,
#memory-section,
#ace-section {
  display: flex;
  flex-direction: column;
  margin: 3rem 0 6rem 0;
}

.list-container {
  display: flex;
  flex-direction: column;
}

.section-list-item {
  margin: 0 2rem 1rem 0;
}

.video-container {
  border: 2px solid var(--blu);
  border-radius: 2px 48px 2px 48px;
  /* padding: 2rem; */
  max-height: 400px;
  overflow: hidden;
}

/**********************
Media Queries
***********************/

@media (min-width: 520px) {
  .list-container {
    flex-direction: row;
  }

  .section-list-item {
    width: 30%;
  }
}

@media (min-width: 700px) {
  #guess-section,
  #memory-section,
  #ace-section {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .section-container {
    width: 58%;
  }

  .video-container {
    width: 38%;
  }
}
