@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Poppins:wght@200;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

h2 {
  text-decoration: underline;
  color: #faa549ff;
  justify-content: center;
  padding: 2rem;
  /* width: 35%; */
  text-align: center;
}

p {
  font-size: 1.5rem;
}

img {
  /* width: 35px; */
  height: 80%;
}

/* .logo {
  display: flex;
  width: 150px;
  align-items: center;
  /* padding: 2rem; */
/* } */

.lives {
  /* width: 35%; */
  text-align: left;
  color: #faa549ff;
}

.rules {
  display: flex;
  justify-content: center;
  text-align: center;
  grid-column: 1/5;
  color: #faa549ff;
}

.container {
  min-height: 115vh;
  background-color: rgb(27, 27, 27);
}

.heading-container {
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  width: 85%;
}

.score {
  padding-left: 2rem;
  /* width: 35%; */
  text-align: right;
  color: #faa549ff;
}

.button-container {
  height: 30%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  margin: 0 auto;
}

.button {
  padding: 0.5em;
  font-size: 1rem;
  border-radius: 10px;
  border: black solid 1px;
  background-color: #505050ff;
  color: #faa549ff;
  font-weight: normal;
  cursor: pointer;
}

.cards {
  display: grid;
  padding: 2rem;
  width: 95%;
  margin: 0 auto;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5em;
  background-color: rgb(80, 80, 80);
  border: double 7.5px;
  border-radius: 15px;
  box-shadow: 0px 0px 20px 10px #000000;
  margin-bottom: 2rem;
}

.clicked,
.matched,
.finished {
  transform: scale(1.05);
  transform: rotateY(180deg);
}

.flipbox img {
  width: 70%;
}

.flipbox {
  background-color: transparent;
  height: 120px;
  width: 150px;
  border: 1px solid #faa549ff;
  perspective: 1000px;
  border-radius: 20px;
  margin: 0 auto;
}

/* This container is needed to position the front and back side */
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  border-radius: 20px;
  /* animation: firstflip 6s linear 1s; */
  margin: 0 auto;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.matched .flip-box-inner,
.clicked .flip-box-inner,
.finished .flip-box-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front,
.flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  border-radius: 20px;
}

/* Style the front side (fallback if image is missing) */
.flip-box-front {
  /* background-color: #5f7161; */
  background-image: linear-gradient(to bottom right, #94b4df, #4276bb);
  color: black;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style the back side */
.flip-box-back {
  /* background-color: transparent; */
  color: #505050ff;
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.clicked {
  background-color: rgb(252, 183, 108);
}

.finished {
  background-color: #ff000087;
}

.matched {
  background-color: #b7d0f1ff;
}

/* header {
  height: 40px;
  width: 100%;
  background-color: rgb(80, 80, 80);
} */

footer {
  height: 50px;
  bottom: 0;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  position: fixed;
  width: 100%;
  color: #faa549ff;
  background-color: rgb(80, 80, 80);
}

@keyframes firstflip {
  10% {
    transform: rotateY(180deg);
  }

  90% {
    transform: rotateY(180deg);
  }
  0%,
  100% {
    transform: rotateY(0deg);
  }
}

@media only screen and (min-width: 375px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .flipbox {
    width: 130px;
  }
  .button-container {
    width: 100%;
    max-width: 100%;
    padding: 1rem;
  }
  .button-container p {
    font-size: 1.25rem;
  }
  .button {
    width: 19%;
  }
  .heading-container {
    max-width: 85%;
    height: 100px;
  }
}

@media only screen and (max-width: 460px) {
  .lives {
    font-size: 1.2em;
  }
  .score {
    font-size: 1.2em;
    display: flex;
    flex-wrap: nowrap;
  }
  h2 {
    font-size: 1.2em;
    margin-right: 10px;
  }
}

@media only screen and (max-width: 870px) {
  .heading-container {
    height: 130px;
  }
}

@media only screen and (min-width: 800px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
  }
  .rules {
    grid-column: 1/5;
  }
  .button-container {
    width: 80%;
  }
}

@media only screen and (min-width: 1000px) {
  .cards {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (min-width: 1150px) {
  .cards {
    grid-template-columns: repeat(5, 1fr);
  }
  .flipbox {
    width: 160px;
  }
  .rules {
    grid-column: 2/5;
  }
  .button {
    width: 15%;
  }
}
