html {
  scroll-behavior: smooth;
}

:root {
  --w: #f8f8f8;
  --blk: #373737ff;
  --g: #505050ff;
  --blu: #b7d0f1ff;
  --o: #f2564fff;
  --y: #faa549ff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::before {
  box-sizing: border-box;
}

*::after {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: var(--w);
}

/***************************************** 
General Elements
******************************************/

li {
  list-style: none;
}
a {
  text-decoration: none;
}

/***************************************** 
Images
******************************************/

img {
  width: 100%;
  display: block;
}

#logo-img {
  width: 160px;
}

/***************************************** 
Buttons
******************************************/

.hide-btn,
.tick-btn {
  text-transform: capitalize;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: var(--y);
  background-color: transparent;
  border: 2px solid var(--blu);
  border-radius: 50%;
  margin: 0.5em;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}

.hide-btn:hover,
.tick-btn:hover {
  border-color: var(--o);
}

#question-btn,
#guess-btn,
#reset-btn {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: var(--blk);
  background-color: var(--blu);
  border: none;
  border-radius: 2px;
  padding: 0.8em;
  margin-bottom: 1em;
  cursor: pointer;
}

.reset-btn {
  margin: 0 auto;
  margin-top: 1em;
  display: none;
}

.reset-btn-visible {
  display: block;
}

/********************** 
Hamburger Menu
***********************/

.hamburger-menu {
  z-index: 100;
}

#menu-toggle {
  opacity: 0;
}

#menu-toggle:checked + .menu-btn > span {
  transform: rotate(45deg);
}

#menu-toggle:checked + .menu-btn > span::before {
  top: 0;
  transform: rotate(0deg);
}

#menu-toggle:checked + .menu-btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu-toggle:checked ~ .menu-box {
  right: 0 !important;
}

.menu-btn {
  position: fixed;
  top: 45px;
  right: 6%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 1;
}

.menu-btn > span,
.menu-btn > span::before,
.menu-btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: var(--y);
  transition-duration: 0.25s;
}

.menu-btn > span::before {
  content: "";
  top: -12px;
}

.menu-btn > span::after {
  content: "";
  top: 12px;
}

.menu-box {
  display: block;
  position: fixed;
  top: 0;
  right: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 104px 0;
  background-color: var(--g);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  transition-duration: 0.25s;
}

.menu-item {
  display: block;
  padding: 16px 24px;
  color: var(--y);
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: 700;
  transition: 0.25s;
}

.menu-item:hover {
  background-color: var(--y);
  color: var(--g);
}

/***************************************** 
Typography
******************************************/

.nav-list-link {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.01em;
  color: var(--y);
  padding: 0.3em 0;
}

.nav-list-link-active {
  border-bottom: 2px solid var(--y);
}

.nav-list-link:hover {
  color: var(--w);
}

.nav-list-link-active:hover {
  color: var(--y);
}

#btn-label {
  display: block;
  font-size: 0.75rem;
  color: var(--y);
  margin-bottom: 1em;
  line-height: 1.6;
}

.block {
  display: block;
}

.name-heading {
  text-transform: capitalize;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: var(--y);
  margin-bottom: 1em;
}

.answer-heading {
  margin: 1.5em 0 2.5em 0;
  opacity: 0;
}

#guessResponse {
  margin: 1.5em 0 2.5em 0;
  opacity: 0;
}

#response {
  opacity: 0;
}

.opacity {
  animation-name: show;
  animation-duration: 6s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  45% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

/***************************************** 
Layout
******************************************/

header {
  background-color: var(--blk);
  padding: 1em 0;
}

.header-container {
  width: 90%;
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  width: 200px;
}

.nav-container {
  display: none;
}

#nav-list {
  display: flex;
}

.nav-list-item {
  margin-left: 2em;
}

main {
  background-color: var(--blk);
  min-height: 200px;
  text-align: center;
}

.main-container {
  width: 90%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 1.5rem 0;
}

.character-container {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr);
}

.img-container {
  min-height: 100px;
  padding: 1em;
  text-align: center;
  border: 2px solid var(--blu);
  border-radius: 8px;
  background-color: var(--g);
  transform: scale(1);
  transition: 0.25s transform ease;
  z-index: 0;
}

.img-container:hover {
  border-color: var(--y);
  transform: scale(1.05);
}

footer {
  background-color: var(--blk);
  min-height: 200px;
}

.buttons-container {
  text-align: center;
  margin: 3em 0;
}

#clue,
#guess {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: var(--blk);
  padding: 1em;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 2px;
  max-width: 280px;
  margin-bottom: 1em;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

/***************************************** 
Media Queries
******************************************/
@media (min-width: 500px) {
  #btn-label {
    font-size: 1rem;
  }
}
@media (min-width: 740px) {
  .character-container {
    grid-template-columns: repeat(3, 1fr);
  }
  #btn-label {
    font-size: 1.5rem;
  }
}

@media (min-width: 900px) {
  .hamburger-menu {
    display: none;
  }

  .nav-container {
    display: block;
  }
}

@media (min-width: 972px) {
  .character-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
